input[type=range][orient=vertical] {
    writing-mode: bt-lr;
    /* IE */
    -webkit-appearance: slider-vertical;
    /* Chromium */
    width: 8px;
    height: 100px;
    padding: 0 5px;
}

/*full screen button*/
.full-screen-button {
    height: 40px;
    aspect-ratio: 1/1;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    position: absolute;
}

.full-screen-button:hover {
    background-color: white;
    color: grey;
}

/*added trigger button: trigger transition for
control bar*/
.trigger-button {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: grey;
    text-align: center;
    font-weight: bold;
    opacity: 0.7;
}

.trigger-button .glyphicon-cd {
    animation: spin 4000ms infinite linear;
}

.control-bar {
    height: 180px;
    background-color: grey;
    color: white;
    position: fixed;
    bottom: -100%;
    /* left: 50%;
        transform: translateX(-50%); */
    width: 100%;
    transition: bottom 1.70s ease-in-out;
}

.move-above {
    bottom: 0;
}

.move-down {
    bottom: -100%;
}

.control-bar-title {
    text-align: center;
}

.artist-name {
    font-weight: bold;
}

.current-song-img {
    height: 100px;
    aspect-ratio: 1/1;
}

.control-bar-content {
    display: flex;
    justify-content: center;

}

.control-buttons {
    display: flex;
    column-gap: 20px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.control-buttons :is([class *='glyphicon']) {
    font-size: 20px;
    background-color: rgb(96, 96, 96);
    padding: 10px;
    border-radius: 100%;
}

/*added hover effects for control buttons*/
.control-buttons :is([class *='glyphicon']):hover {
    background-color: white;
    color: grey;
}

.playing-song {
    display: flex;
    flex-direction: row;
    row-gap: 10px;
}

.song-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    row-gap: 10px;
}

.song-name {
    font-size: large;
}

.song-progress-bar progress {
    width: 100%;
}

.song-progress-bar {
    display: flex;
    column-gap: 10px;
}

.volume-control {
    display: flex;
    align-items: end;
    margin-left: 10px;
}

#volume-icon {
    font-size: 20px;
}

/*animation*/

/*animation for cd spin*/
.control-bar :is(.glyphicon-cd) {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*animation for buttons*/