body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    background-color: black;
    color: white;
}
.navbar {
    
}
.explore-section {
    
}
.navbar-brand {
}
.nav-item {
    position: relative;
}
.nav-item:after {
    content: "";
    background-color: slateblue;
    height: 3px;
    border-radius: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.25s ease-in-out;
}
.nav-item:hover:after {
    width: 100%;
}
.explore-section-content{
   padding-inline: 10vw;
    display: grid;
    grid-column-gap: 10vw;
    grid-row-gap: 2.5vh;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
}
.explore-button {
    background-color: slategrey;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: large;
    border-radius: 20px;
    border: none;
    outline: none;
    position: relative;
    z-index: 1;
}
.explore-button:after {
    content: "";
    background-color: slateblue;
    height: 100%;
    width: 0px;
    position: absolute;
    inset: 0;
    border-radius: 20px;
    transition: 0.25s ease-in-out;
    z-index: -1;
}
.explore-button:hover:after {
    width: 100%;
}
h1[class *=-title], .artist-section-title, .explore-section-title {
    text-align: center;
    font-weight: bold;
    margin-block: 20px;
}

div[class *=-name] {
    font-size: medium;
    text-align: center;
    margin-top: 10px;
}

.album-list-content,
.song-list, .artist-section-content {
    padding-inline: 10vw;
    display: grid;
    grid-column-gap: 10vw;
    grid-row-gap: 2.5vh;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
}

div[class *=-cover] img, .artist-img img{
    width: 100%;
    height: 100%;
}
.song-cover img {
    border-radius: 5px;
}
.album-cover img {
    border-radius: 10px;
}
.artist-img img {
    border-radius: 100%;
}
.artist-name {
    font-weight: bolder;
}

/*for hover play buttons(when hover on songs)*/
.song-cover {
    display: inline-block;
    position: relative;
}
.hover-play-button {
    background-color: grey;
    height: 50px;
    aspect-ratio: 1/1;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 30px;
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 1;
}
.hover-play-button:hover {
    background-color: white;
    color: grey;
}
.empty {
    padding-top: 100px;
}
